root = true

[*] 
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
indent_size = 4

[*.{json,jsonc,md,yml}] 
indent_size = 2

[{.vscode/**.json,tsconfig.json}] 
indent_size = 4

